.custom-select__single-value,
.custom-select__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-select__value-container--is-multi {
  padding-left: 0;
}

.custom-select__value-container--is-multi .custom-select__placeholder {
  padding-left: 8px;
}

.custom-select__value-container--is-multi .custom-select__input-container {
  max-width: 0px;
}
